        
{% extends 'base.html' %}
 
{% block content %}
    <div class="row">
        <a href="{% url 'product_create' %}" class="button">Crear</a>

            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>
                            <a href="{% url "product_edit" product.pk %}">Actualizar</a> |
                            <a href="{% url "product_delete" product.pk %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
